body{
    font-size: 20px;
    line-height: 1.5;
    font-family: serif;
    margin: 0;
    

    
}

header {
    background-color: #e4d1d3;  
}

h1
 {
    color: #1a1616; 
    font-size: 50px;
    text-transform: uppercase;
    float: left;

} 

h2{
    background-color:#e4d1d3;  
    padding: 5px;
}

h3 {
    color: #594d49;
}

h4 {
    color: #a29f9c;
}

h3,
h4{
    margin: 0%;
}

a{
    color: #eaceb4

}

a{
    font-style: italic;
}

.clear {
    clear: both;
}

.foto-monikahuzova{
    width: 200px;
    border-radius: 50%;
    float: right;
    margin: 2%;
}

.vlevo { 
    float: left;
    width: 44%;
    padding: 3%;
}
.vpravo {
    float: right;
    width: 44%;
    padding: 3%;
}

a:hover {
    color:#e4d1d3;
}

footer{
    font-size: 15px;
    text-align: center;
    width: 100%;
    clear: both;
}



